* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* header start*/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 245, 247, 0.8); /* Light gray with transparency */
  padding: 15px; /* Add internal space instead of margin */
  width: 100%; /* Ensure header spans the full width */
}

.logo img {
  width: 30px;
  margin-right: 15px;
  cursor: pointer;
}
.search-bar img {
  width: 18px;
  margin-right: 15px;
  margin-left: 17px;
  cursor: pointer;
}
.bag-head img {
  width: 18px;
  margin-right: 15px;
  margin-left: 17px;
  cursor: pointer;
}

nav ul {
  display: flex; /* Use flexbox for horizontal layout */
  list-style: none; /* Remove default bullet points */
  padding: 0;
}

nav ul li {
  margin: 0 17px; /* Add spacing between nav items */
}

.nav-a{
  text-decoration: none;
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
}
/* header end */

/* intro start */
.intro{
  text-align: center;
  font-size: 0.9em;
  margin: 15px;
}
.intro-a{
  text-decoration: none;
}
/* intro end */

/* hero start */
.hero {
  position: relative;
  text-align: center;
  justify-content: center;
}
.hero-img img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.hero-text {
  position: absolute;
  color: white;
  font-size: 1.6em;
  text-align: center;
  top: 7%;
  left: 37%;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;

}
.hero-text2 {
  position: absolute;
  color: white;
  font-size: 1.4em;
  text-align: center;
  top: 16%;
  left: 39%;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.hero-btns {
    position: absolute;
    top: 23%;
    left: 42%;
    display: flex;
    gap: 10px;
}
.learn-more-btn {
  display: inline-block;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #fff; /* White text */
  background-color: #0071e3; /* Apple blue */
  text-decoration: none; /* Remove underline */
  padding: 11px 25px; /* Add padding for size */
  border-radius: 22px; /* Curved sides */
  left: 30%;
}
.learn-more-btn:hover{
  background-color: #0a76e2
}
.Buy-btn {
  display: inline-block;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #0071e3; /* White text */
  background-color: transparent; /* Apple blue */
  border: 1px solid #0071e3;
  text-decoration: none; /* Remove underline */
  padding: 11px 25px; /* Add padding for size */
  border-radius: 22px; /* Curved sides */
  left: 30%;
}
.Buy-btn:hover{
  background-color: #0071e3;
  color: white;
}
/* hero end */

/* hero2 start */
.hero2 {
  position: relative;
  text-align: center;
  justify-content: center;
  margin-top: 9px;
}
.hero2-img img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.hero2-text {
  position: absolute;
  color: white;
  font-size: 1.6em;
  text-align: center;
  top: 7%;
  left: 37%;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;

}
.hero2-text2 {
  position: absolute;
  color: white;
  font-size: 1.4em;
  text-align: center;
  top: 16%;
  left: 39%;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.hero2-btns {
    position: absolute;
    top: 23%;
    left: 42%;
    display: flex;
    gap: 10px;
}
.learn-more-btn-2 {
  display: inline-block;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: black; /* White text */
  background-color: white; /* Apple blue */
  text-decoration: none; /* Remove underline */
  padding: 11px 25px; /* Add padding for size */
  border-radius: 22px; /* Curved sides */
  left: 30%;
}
.learn-more-btn-2:hover{
  background-color: white
}
.Buy-btn-2 {
  display: inline-block;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: white; /* White text */
  background-color: transparent; /* Apple blue */
  border: 1px solid white;
  text-decoration: none; /* Remove underline */
  padding: 11px 25px; /* Add padding for size */
  border-radius: 22px; /* Curved sides */
  left: 30%;
}
.Buy-btn-2:hover{
  background-color: white;
  color: black;
}
/* hero2 end */